/nbproject/private/
/CrazyAuctionsJpa-ejb/nbproject/private/
/CrazyAuctionsJpaClient/nbproject/private/
/CrazyAuctionsJpaLibrary/nbproject/private/
/CrazyAuctionsJpa-ejb/build/
/CrazyAuctionsJpaLibrary/build/
/CrazyAuctionsJpaLibrary/dist/
/build/
/dist/
/CrazyAuctionsJpaClient/build/
/CrazyAuctionsJpaClient/dist/
/CrazyAuctionsJpa-ejb/dist/
/CrazyAuctionsJpaAdminClient/nbproject/private/
/CrazyAuctionsJpaAdminClient/dist/
/CrazyAuctionsJpaAdminClient/build/
/CrazyAuctionsJpaEmployeeClient/nbproject/private/
/CrazyAuctionsJpaEmployeeClient/dist/
/CrazyAuctionsJpaEmployeeClient/build/
/CrazyAuctionsJpaJavaSeClient/nbproject/private/
/CrazyAuctionsJpaJavaSeClient/build/
/CrazyAuctionsJpaJavaSeClient/dist/
